@import url("fonts.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    background-color: #ffffff;
    color: #a39d9d;
    font-family: 'Lato', 'Arial';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;

}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    margin: 0px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    background: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);

}

/*---*/
.main-nav {
    list-style: none;
    margin-right: 160px;
    margin: 20px auto;
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #101010;
}

.main-nav li {
    display: inline-block;
    margin-right: 30px;

}

.main-nav li a:link,
.main-nav li a:visited {
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s;
    text-decoration: none;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid #034EA2
}

/*------*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.logo-class {
    margin-left: 160px;
}


.btn-nav {
    width: 144px;
    height: 36px;
    background: #034EA2;
    border-radius: 2px;
    color: white;
    text-align: center;
    font-family: NunitoSans-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
}

/*===================Landing Page============================================================================================================================================*/

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 440px;
    background-color: #E1EEFF;
}

.content textbox {}

.header_textbox {
    position: relative;
    max-width: 370px;
    margin-left: 160px;
    margin-top: 30px;

}

h1 {
    font-family: NunitoSans-ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    color: #101010;
}

.content .header_textbox p {
    font-family: NunitoSans-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #01002A;
}

.content .header_textbox a {
    display: inline-block;
    margin-top: 29px;
    width: 223px;
    height: 41px;
    background: #034EA2;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    font-family: NunitoSans-Bold;
    font-style: Bold;
    Font size: 14px;
    text-align: center;
    align-items: center;
    padding: 5px
}

.content .header_textbox a:hover {
    background: #1568c6;
}

.imgbox {
    margin-right: 160px;
    margin-top: 16px;
}

.features-content {
    margin: auto;
    background-color: blueviolet;
    border: 10px solid black;

}

.features_para p {
    font-family: NunitoSans-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #01002A;
    margin: 30px 160px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/

.Steps_Section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.steps_image {
    margin-left: 160px;

}

.steps_desc {
    margin-right: 500px;
}

/*--------------------------------------------------------- */
/* -------------HOW IT WORKS ------------- ---------------------*/
.section-steps {
    background-color: #e8ede9;
}

.steps-box {
    margin-top: 30px;


}

.steps-box2 {}

.app-screen {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 50px;
}

.steps-box:first-child {
    margin-left: 160px;
}

.steps-box:last-child {
    padding-left: 0%;
    margin-top: 50px;
    text-align: left;
    margin-right: 125px
}

.works-steps:last-of-type {}

.works-steps {
    margin-bottom: 20px;

}

.works-steps1 span,
.works-steps2 span,
.works-steps3 span,
.works-steps4 span,
.works-steps5 span {
    font-family: NunitoSans-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: #000000;
}

.works-steps1 p,
.works-steps2 p,
.works-steps3 p,
.works-steps4 p,
.works-steps5 p {
    margin-left: 80px;
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    font-feature-settings: 'case'on;
    color: black;
}

.works-steps1 img {

    background: #034EA2;
    border-radius: 20px
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.platfrom_offering {
    background: #ECEFF5;
}

.platfrom_offering h3 {
    text-align: center;
    margin-bottom: 40px;
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 41px;
    color: #01002A;
    padding: 50px 0px 0px 0px;
}

.platfrom_steps {
    background: #034ea2;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    padding: 15px 10px;
    box-sizing: border-box;
    height: 80px;
    margin-bottom: 20px;
    align-items: center;
    transition: all 0.3s linear 0s;

}

.platfrom_offering-box1 {}

.platfrom_offering-box2 {}

.platfrom_offering-box3 {}

.platform_para {
    margin: 14px 0px 7px 20px;
    font-family: NunitoSans-Regular;
}

.platform_para h5 {

    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.platform_para p {
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;

    color: #FFFFFF;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.business_transform {
    background: #e1eeff;
    padding: 50px 0px;
}

.business_heading h3 {
    font-size: 30px;
    line-height: 41px;
    color: #01002a;
    font-family: NunitoSans-Regular;
    text-align: center;
    font-weight: 900;
}

.business_transform_para {
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    color: #01002A;
    margin-bottom: 45px;

}

.business_transform_img1 {
    display: flex;
    margin: auto
}

.business_transform_img1 img {}

.btn1 {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    position: absolute
}

.business_button button {
    width: 195px;
    height: 41px;
    background: #0b519d;
    border-radius: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    color: #ffffff;
    border: 0px;
    transition: all 0.3s linear 0s;
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 0px;
}

.business_button button :hover {
    background: blue;
}

arrow-forward-circle-outline {
    float: right
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.Work_PredictS {
    background-image: url(../images/predictS-Work.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.work-image {
    width: 552px;
}

.Work_PredictS h3 {
    font-size: 30px;
    line-height: 41px;
    color: #01002a;
    font-family: NunitoSans-Regular;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    margin-top: 70px;
}

.Work_PredictS_para {
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    color: #01002A;
    margin-bottom: 35px;
}

.Work_PredictS_box1 p {
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: rgba(3, 78, 162, 0.87);
    text-align: center;
    width: 558px;
    height: 63.66px;
    padding: 10px;
    margin-left: 28px
}

.Work_PredictS_box2 ul {
    background: #FFFFFF;
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 388px;
    height: 350px;
}

.Work_PredictS_box2 ul li {
    text-align: left;
    list-style: none;
    margin-bottom: 49px;
    margin-left: 25px;
    font-family: NunitoSans-Regular;
    Font style: ExtraBold;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    color: #01002A;
}

.Work_PredictS_box2 ul li:first-child {
    padding: 25px 0px 0px 0px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.image_banner {

    background-image: linear-gradient(90deg, #100F37 0%, rgba(16, 15, 55, 0.36) 100%), url(../images/image%2042.png);
    height: 227px;
}

.image_banner h3 {
    margin: auto;
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    padding: 25px
}

.image_banner p {
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.company_logo {
    width: 100%
}

.trial_companylogo {
    background: #F1F3FE;
    height: 144px;
}

.company-logo-wrap {
    margin: auto;
    margin-top: 55px;
}

.success_heading {
    text-align: center;
    margin-top: 97px
}

.success_heading h3 {
    font-family: NunitoSans-Regular;
    font-style: Black;
    font-weight: 900;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #01002A;
}

.success_heading_para {
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #01002A;
    margin-bottom: 36px
}

.reviews {
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    display: flex;
    width: 388px;
    height: 140px;
    margin: auto;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 96px
}

.review_image1 {
    margin: 25px 24px 0px 13px;
    width: 44px;
    height: 44px;
}

.success_para {
    margin: 18px 28px 0px 0px;
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.blockquot {
    float: right;
    margin-right: 15px
}

.author {
    margin-top: 17px;
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;

    color: #034EA2;
}

.author span {
    color: black;
    font-weight: bold;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.awards_section {
    background: #F1F3FE;
    height: 260px;
}

.awards_section h3 {
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #01002A;
    margin-top: 35px;
    margin-bottom: 30px;
}

.award_content {
    position: relative;
    background-color: white;
    width: 307px;
    height: 65px;
}

.award_para {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 35px;
    font-family: NunitoSans-Regular;
    margin-top: 20px;
}


.awards_grid1 {
    margin-right: 25px;
}

.awards_grid2 {
    margin-right: 25px;
}

.awards_grid1,
.awards_grid2 {
    width: 307px;
    height: 65px;
    background: #FEFEFE;
    margin-left: 25px;
}

.award_image1 {}

.main-award {
    display: flex;
}

/*--------------------------------------------------------------------------------------------------------*/
.steps1 {
    display: flex;
    height: 78px;
    margin-left: 0px;
    margin-top: 45px;
}

.steps2 {
    display: flex;
    height: 78px;
    margin-left: 70px;
    margin-top: 55px;
}

.steps3 {
    display: flex;
    height: 78px;
    margin-left: 106px;
    margin-top: 45px;
}

.steps4 {
    display: flex;
    height: 78px;
    margin-left: 70px;
    margin-top: 55px;
}

.steps5 {
    display: flex;
    height: 78px;
    margin-left: 0px;
    margin-top: 55px;
    margin-bottom: 56px;
}

.steps_content1 h4,
.steps_content2 h4,
.steps_content3 h4,
.steps_content4 h4,
.steps_content5 h4 {
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    margin-left: 17px;
    color: #000000;
    margin-bottom: 7px;
}


.Image_steps-wrap {
    display: flex
}


.trial_image {
    margin-top: 110px;
    width: 364.43px;
    height: 364.48px;
}

.steps_content1 p,
.steps_content2 p,
.steps_content3 p,
.steps_content4 p,
.steps_content5 p {
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    font-feature-settings: 'case'on;
    margin-left: 17px;
    color: #65646A;
}


.transform_help {
    background-image: linear-gradient(90deg, #100F37 0%, rgba(16, 15, 55, 0.36) 100%), url(../images/transform.png);
    background-size: cover;
    background-position: center;
    height: 199px;
}

.transform_help h3 {
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    padding: 20px
}

.transform_help p {
    font-family: NunitoSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px
}
